head
  meta(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
  meta(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
  meta(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
  meta(rel="manifest", href="/site.webmanifest")
  meta(content=title, property='og:title')
  meta(content="A collection of markers from users in a Discord Server", property='og:description')
  meta(content="https://alphatown.fumo.systems/", property='og:url')
  meta(content="#43B581", property='theme-color')