head
  script(src='/javascript/i18n/CLDRPluralRuleParser.js')
  script(src='/javascript/i18n/jquery.i18n.js')
  script(src='/javascript/i18n/jquery.i18n.messagestore.js')
  script(src='/javascript/i18n/jquery.i18n.fallbacks.js')
  script(src='/javascript/i18n/jquery.i18n.language.js')
  script(src='/javascript/i18n/jquery.i18n.parser.js')
  script(src='/javascript/i18n/jquery.i18n.emitter.js')
  script(src='/javascript/i18n/jquery.i18n.emitter.bidi.js')
  script(src='/javascript/i18n/load.js')
