html
  include includes/mapbox.pug
  head
    title= title
    script(
      src='/javascript/main.js'
      defer
    )
  body
    h1= message
    p
      a(href= oauth)
        | yo watup

    div#map(
      style='width: 400px; height: 300px;'
    )